

/* line 1, ../../app/assets/stylesheets/pages.css.scss */
#home_page {
  background-color: #004A83;
}
/* line 3, ../../app/assets/stylesheets/pages.css.scss */
#home_page p {
  color: #bebebe;
  font-size: 1em;
  text-align: justify;
  text-justify: inter-word;
}
/* line 9, ../../app/assets/stylesheets/pages.css.scss */
#home_page p.italic {
  font-style: italic;
}
/* line 14, ../../app/assets/stylesheets/pages.css.scss */
#home_page h1, #home_page h3, #home_page h4 {
  color: white;
}
/* line 18, ../../app/assets/stylesheets/pages.css.scss */
#home_page pre {
  background-color: #90A8C7;
  border: 1px solid #949DAA;
}
/* line 23, ../../app/assets/stylesheets/pages.css.scss */
#home_page h4 {
  margin-top: 25px;
}
/* line 27, ../../app/assets/stylesheets/pages.css.scss */
#home_page .row {
  margin-bottom: 20px;
}
/* line 31, ../../app/assets/stylesheets/pages.css.scss */
#home_page hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 36, ../../app/assets/stylesheets/pages.css.scss */
#home_page .installation_column {
  padding: 0px 44px;
}
/* line 40, ../../app/assets/stylesheets/pages.css.scss */
#home_page .container {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 46, ../../app/assets/stylesheets/pages.css.scss */
#home_page #header {
  margin-bottom: -150px;
}

#home_page #header #beta_label {
  margin-bottom: -20px;
  text-align: right;
  display: inline;
  font-style: italic;
  color: rgb(194, 23, 23);
}
/* line 53, ../../app/assets/stylesheets/pages.css.scss */
#home_page #header h1{
  font-family: 'Lobster', cursive;
  color: rgb(116, 116, 116);
  font-size: 65px;
  display: inline;
}

#home_page #header #big_logo {
	width: 105px;
	display: inline;
	float: left;
}

#home_page #header p {
	color: #999999;
}

#home_page #header p.description {
	margin: 25px 0px;
}

#home_page .column_title {
	font-size: 35px;
}

.embeddedVideo img {
	width: 197px;
	float: right;	
}

object#video {
	position: absolute;
	margin: 55px 77px;
	background-image: url(./assets/img/iphone_5_blanc.png);
}

#features {
  background-color: #3768bf;
  margin-bottom: 0px;
}

#backend {
  background-color: #5586DF;
}

#installation {
  background-color: #004A83;
}

#installation p {
  font-size: 16px;
}

.how-it-works {
  color: #eee;
}

.how-it-works .glyphicon{
  margin-right: 7px;
}

.how-it-works p{
  color: #eee !important;
}

.block h2{
  color: #eee;
  margin-bottom: 20px;
}

.block .sub-section {
  margin: 50px 0px;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel h3{
  font-size: 30px;
  color: #E3E3E3 !important; 
}

.carousel-control.left, .carousel-control.right {
  background: none;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
  color: black;
  font-size: 50px;
}

#iphone {
  background-image: url(../img/iphone.png);
  width: 300px;
  height: 590px;
}

#iphone #screen {
  width: 222px;
  height: 405px;
  position: relative;
  top: 98px;
  left: 39px;
  overflow: hidden;
}

ul#sources li {
  list-style: none;
  margin: 10px 0px;
  color: #999999;
}
ul#sources li a{
  width: 105px;
}